.main {
    padding: 20px;
    margin-left: 250px; /* Adjust based on your sidebar width */
  }
  
  .main h1 {
    margin-bottom: 20px;
  }
  
  
  .date-time-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .current-date, .current-time {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .current-time {
    color: #007bff;
  }
  
  .highlight {
    background-color: #ffff00 !important;
    border-radius: 50%;
  }
  
  .attendance-row {
    display: flex;
  }